language: php

php:
    - 5.5

env:
    - REPORT_EXIT_STATUS=1 NO_INTERACTION=1 TESTS="-s /dev/null --show-all -m"

before_script:
    - sudo apt-get -y install libpoppler-glib-dev valgrind
    - phpize && ./configure && make

script:
    - make test
